body {
  margin: 0;
}
body.h1{
  margin: 40px 0 8px 0;
  font-size: 20px;
}
body.h6{
  margin:8px 0;
  font-size: 12px;
}
body.h2{
  margin: 16px 0 8px 0;
  font-size: 16px;
}
body.p{
  margin:8px 0;
  font-size: 14px;
  line-height: 22px;
}
.container {
  /* Code here */
     margin: 24px auto; /*24 px top/bottom and auto left/right*/
    padding: 0 16px;/* 0 top/bottom and 16px left/right*/
    max-width: 960px;
  
}

img{
  width:183px;
}
